<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="">Find By Name</a></li>
        <li><a href="">Find By Lastname</a></li>
        <li><a href="">Find By Age</a></li>
      </ul>
    </header>
    <main>
      <div>
        <h1>¡Welcome to our Crud!</h1>
      </div>

      <section>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore modi,
          explicabo alias aspernatur asperiores sed excepturi ut nisi accusamus
          et laboriosam earum deserunt temporibus necessitatibus reprehenderit
          unde ipsam amet! Quidem?
        </p>

        <footer>
            //Agregar github
        </footer>
      </section>
    </main>
  </body>
</html>
