<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="">Find By Name</a></li>
        <li><a href="">Find By Lastname</a></li>
        <li><a href="">Find By Age</a></li>
      </ul>
    </header>
    <main>
      <form action="" method="get">
        <div>
          <input type="text" placeholder="search by name" name=""/>
        </div>
        <table>
          <tr>
            <th>Identification</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Age</th>
          </tr>

        </table>
      </form>
    </main>
    <script src="logic.js"></script>
  </body>
</html>
